$bg-color: azure;

* {
  box-sizing: border-box;
}

html, body {
  font-family: Calibri, sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: $bg-color;
}

.menu-button {
  top: 5px;
  position: absolute;
  font-size: 30px;
  cursor: pointer;

  &.left {
    left: 5px;
  }

  &.right {
    right: 5px;
  }
}
.menu-import {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.container {
  width: 100%;
  height: 100%;
  &.inactive {
    margin-left: 250px;
    opacity: 0.7;
    width: calc(100% - 250px)
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.active {
    width: 250px;
  }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.editor-tools {
  position: absolute;
  top: 40px;
  right: 20px;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}


.tooltip {
  display: none;
  z-index: 10;
  position: absolute;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid rgba(197, 197, 197, 0.6);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 5px;
  overflow-y: auto;
  overflow-x: auto;

  .title {
    color: #456A96;
    font-size: 12px;
  }
}