$bg-color: azure;

* {
  box-sizing: border-box;
}

html, body {
  font-family: Calibri, sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: $bg-color;
}

ul {
  margin: 0;
  padding: 0;
}

.no-select {
  user-select: none;
}

.menu-button {
  top: 5px;
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  left: 5px;
  z-index: 100;

  &.selected {
    color: #fff;
  }
}

.sidenav {
  height: 100%;
  width: 160px;
  float: left;
  z-index: 1000;

  &.closed {
    width: 0;
  }
}

.container {
  width: calc(100% - 160px);
  height: 100%;
  position:absolute;
  right:0;

  &.wide {
    width: 100%;
  }
}

.editor-tools {
  position: absolute;
  top: 40px;
  right: 20px;
}

.tooltip {
  display: none;
  z-index: 10;
  position: absolute;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid rgba(197, 197, 197, 0.6);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 5px;
  overflow-y: auto;
  overflow-x: auto;

  .title {
    color: #456A96;
    font-size: 12px;
  }
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}