$strokeWidth: 0.5;

svg#ticket-to-ride {
  height: 100%;
  width: 100%;

  text {
    user-select: none;
  }

  .subunit {
    fill-opacity: 0.6;
    fill: teal;
  }

  .city {
    stroke-width: 0;
    fill: #aa4518;

    &:hover {
      fill: #ff007f;
      cursor: pointer;
    }

    &.selected {
      fill: #0dff9e;
    }
  }

  .city-label {
    font-size: 12px;
    font-weight: normal;
    text-anchor: middle;
    fill: white;
    fill-opacity: 0.6;
  }

  .city-voronoi {
    vector-effect: non-scaling-stroke;
    stroke-width: 1px;
    stroke: blue;
    fill: none;

    &.hidden {
      stroke: none;
    }
  }
  .city-voronoi-links {
    stroke-width: $strokeWidth;
    stroke: black;
    fill: none;
    stroke-dasharray: 1, 5;
    stroke-linejoin: round;

    &.hidden {
      stroke: none;
    }
  }

  .city-link-outline {
    stroke-width: $strokeWidth;
    stroke: rgba(110, 110, 110, 0.6);
    stroke-dasharray: 1, 1;
    fill: none;
    &.hidden {
      stroke: none;
    }
  }
  .city-link-circles {
    stroke-width: 0;
    fill: #21aa18;

    &:hover {
      fill: #19914d;
      cursor: pointer;
    }

    &.selected {
      fill: #005725;
    }

    &.hidden {
      fill: none;
    }
  }
  .city-link-train {
    vector-effect: non-scaling-stroke;
    stroke: darkgrey;
    stroke-width: 1px;
  }

  .city-link-train-carriage {
    --fill-color: none;
    --stroke-color: white;
  }

  .link {
    stroke-width: $strokeWidth;
    stroke: black;
    fill: none;
    stroke-dasharray: 1, 5;
    stroke-linejoin: round;
  }

  .city-destinations {
    stroke: red;
    stroke-width: 1px;
    fill: none;
  }

}

.map-button {
  min-width: 34px;
  height: 34px;
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  background-color: #ffffff;
  border-radius: 3px;
  margin: 0 5px;
  padding: 10px 10px;
  text-align: center;
  position: absolute;
  &:hover {
    color: #999999;
    background-color: #dddddd;
  }

  &.resetButton {
    right: 10px;
    bottom: 15px;
  }

  &.zoomInButton {
    right: 10px;
    bottom: 96px;
  }

  &.zoomOutButton {
    right: 10px;
    bottom: 56px;
  }
}