$strokeWidth: 0.5;


@font-face {
  font-family: "Yava Font";
  src: url('../fonts/yava-trains-font.woff');
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: Calibri, sans-serif;
  margin: 0;
  height: 100%;
  background-color: #fff;
}

text {
  user-select: none;
}

.container {
  background: #ccd1b3;
  display: block;
}

.subunit {
  fill: #cdc;
}

.city {
  stroke-width: 0;
  fill: #aa4518;

  &:hover {
    fill: #ff007f;
    cursor: pointer;
  }

  &.selected {
    fill: #0dff9e;
  }
}

.city-label {
  font-size: 8px;
  font-weight: normal;
  fill: #6d96ba;
  fill-opacity: 0.6;
}

.city-voronoi {
  stroke-width: $strokeWidth;
  stroke: none;
  fill: none;
}

.city-links {
  stroke-width: 0;
  fill: #21aa18;

  &:hover {
    fill: #19914d;
    cursor: pointer;
  }

  &.selected {
    fill: #005725;
  }
}

.city-route {
  stroke-width: $strokeWidth;
  stroke: none;
}

.city-route-text {
  font-family: "Yava Font", sans-serif;
  fill: red;
  text-anchor: start;
  font-size: 8px;
}

.link {
  stroke-width: $strokeWidth;
  stroke: black;
  fill: none;
  stroke-dasharray: 1, 5;
  stroke-linejoin: round;
}

.link-label {
  fill: black;
  text-anchor: start;
  stroke-width: 0;
  font-size: 5px;
}

.city-all-links {
  stroke-width: $strokeWidth;
  stroke: black;
  fill: none;
  stroke-dasharray: 1, 5;
  stroke-linejoin: round;
}