$strokeWidth: 0.5;

svg#map-ukraine {
    height: 100%;
    width: 100%;

  .countries {
    stroke: blue;
  }


  .regions {
    fill: green;
    stroke: black;
    &:hover {
      fill: red;
    }
  }



}